* {
    margin: 0;
  }

  body {
    max-width: 1140px;
    max-height: 1024px;
    margin: auto;
    font-family: 'Work Sans';
    font-style: normal;
    font-size: 14px;
}

header {
	display: flex;
    height: 45px;
	justify-content: space-between;
    align-items: center;
	margin: 50px 0;
}

a {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C

}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav li {
    height: 22px;
	padding: 0 10px;
    font-family: 'Work sans';
	font-size: 16px;
}

.nav-login {
    font-weight: 600;
}

nav ul img {
    width: 22px;
    height: 22px;
    padding-left: 20px ;
}

li a {
    color:#000000
}
li a:hover {
	color: #B1663C;
}

.user-login-form {
    width: 50%;
    margin: auto;
    padding-top: 180px;
}

 form {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 42px;
}

.user-login-form h2 {
    text-align: center;
}

.login-form {
    width: 380px;
    margin: auto;
}

.user-login-form input {
    width: 380px;
    height: 50px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 5px;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#submit {
    font-family: 'Syne';
    font-size: 14px;
    display: block;
    padding: 10px 40px;
    margin: 10px auto ;
    background-color: #1D6154;
    color: #FFFFFF;
    border: 1px solid #1D6154;
    border-radius: 60px;
}

.user-login-form a {
    margin: auto;
    text-decoration: underline;
    color: #3D3D3D;
    padding-top: 25px;
}

.user-login-form button:hover {
    background-color: #0E2F28;

}

.login-footer nav ul {
    display: flex;
    justify-content: flex-end;
    height: 60px;
    margin-top: 290px;
    margin-right: 80px;
    
}

.login-footer li a {
    font-size: 14px;
    font-weight: 300;
    color: #000000;
    text-decoration: none;
}