body {
	margin: 0;
    padding: 0;
	font-family: 'Work Sans';
	font-style: normal;
	font-size: 14px;
}

* { 
    box-sizing: border-box;
}

.modal {
	position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
	width: 100%;
	height: 100%;
	top: 0;
    left:0;
	background-color: rgba(0, 0, 0, 0.3);
}

.modalWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
    width: 630px;
    height: 700px;
	border-radius: 10px;
	background-color: #FFFFFF;
    position: absolute;
    top: 30%;
}

.modal i {
	display: block;
	align-self: flex-end;
	font-size: 1.5em;
	padding-right: 30px;

}

.modalTitle {
	font-size: 26px;
    font-weight: 400;
}

.modalGallery {
    width: 70%;
    height: 67%;
    box-sizing: border-box;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 10px;
    border-bottom: 1px solid #B3B3B3;
}
.modal-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;
   
}
.modal-content figure {
    margin: 0;
    display: flex;
    flex-direction: column;
}


.modalGallery img {
	width: 76px;
    height: auto;	
}

.miniWork label {
	font-size: 12px;
}

.modal input {
	padding: 0px 50px;
	width: 237px;
	height: 36px;
	font-family: 'Syne';
	font-size: 14px;
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	border: 1px solid #1D6154;
    margin-top: 40px;
	text-align: center;
	border-radius: 60px ;

}