 /* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1440px;
	margin:auto;
	font-family: 'Work Sans';
	font-style: normal;
	font-size: 14px;
	background-color: rgb(255, 254, 249);
}

header {
	max-width: 1140px;
	display: flex;
	height: 47px;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	margin-top: 50px;
}

main {
	max-width: 1140px;
	margin: auto;
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size: 10px;
	font-weight: 400 ;
	letter-spacing: 0.05em;
	padding-top: 6px;
	color: #93532F;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

a {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

nav ul {
	display: flex;
	height: 24px;
	align-items: center;
	list-style-type: none;
}

nav li {
	display: flex;
	align-items: center;
	font-family: 'Work sans';
	padding: 0 10px;
	margin-left: 20px;
	font-size: 16px;
}

nav li:hover {
	font-weight: 600;
}

nav ul img {
	width: 22px;
    height: 22px;
	margin: 0;
}

nav li a {
	color: #000000;
	text-decoration: none;
}

nav li a:hover {
	font-weight: 600;
}

#introduction {
	display: flex;
	align-items: center;
	padding: 60px 95px ;
}

#introduction figure {
	display: block;
}

#introduction img {
	display: block;
	margin: auto;
	width: 100%;
}

#introduction article {
	display: flex;
	flex-direction: column;
	width: 100%;	
}

#introduction h2 {
	margin-bottom: 1em;
	padding-left: 80px;
}

#introduction p {
	font-family: 'Work sans';
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 0.5em;
	padding-left: 80px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#portfolio {
	padding: 40px 95px 0px 95px;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.category {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 25px 0 0 0;
}

.category button {
	border: 1px solid #1D6154;
	border-radius: 60px ;
	font-family: 'Syne';
	font-size: 16px;
	font-weight: 700;
	color: #1D6154;
	background-color: white;
	padding: 7px 15px 7px 15px;
	margin-left: 5px;
	margin-right: 5px;
}

.category button:hover {
	background-color: #1D6154;
	color: white;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 18px;
	grid-row-gap: 15px;
	padding-top: 50px;
}

.gallery img {
	width: 100%;
}

.gallery figcaption {
	font-family: 'Work sans';
	font-size: 13px;
	font-weight: 400;
	padding-top: 5px;
}

#contact {
	width: 33%;
	margin: auto;
}

#contact > * {
	text-align: center;
}

#contact h2 {
	margin-top: 30px;
	margin-bottom: 20px;
}

#contact p {
	font-family: 'Work sans';
	font-size: 16px;
	font-weight: 400;
	color: #3D3D3D;
}

#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
	color: #3D3D3D;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact input[type="submit"]{
	width: 180px;
	height: 36px;
	font-family: 'Syne';
	font-size: 14px;
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 40px auto;
	text-align: center;
	border-radius: 60px ;
}

#contact input[type="submit"]:hover {
	background-color: #0E2F28;
    cursor: pointer;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	padding: 25px 100px 25px 0;
}


.modal {
	position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
	width: 100%;
	height: 100%;
	top: 0;
    left:0;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 1;
}

.modalWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
    width: 630px;
    height: 700px;
	border-radius: 10px;
	background-color: #FFFFFF;
    position: absolute;
    top: 10%;
}

.modal i {
	display: block;
	align-self: flex-end;
	font-size: 1.5em;
	padding-right: 30px;

}

.modalTitle {
	font-size: 26px;
    font-weight: 400;
}

.modalGallery {
    width: 70%;
    height: 67%;
    box-sizing: border-box;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 50px;
    border-bottom: 1px solid #B3B3B3;
}

.modal-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;
   
}

.modal-content figure {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.modalGallery img {
	width: 76px;
    height: auto;	
}

.miniWork label {
	font-size: 12px;
}

.modal input {
	padding: 0px 50px;
	width: 237px;
	height: 36px;
	font-family: 'Syne';
	font-size: 14px;
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	border: 1px solid #1D6154;
    margin-top: 40px;
	margin-bottom: 30px;
	text-align: center;
	border-radius: 60px ;
}

.edit-banner {
	position: fixed;
	background-color: #000000;
	width: 100%;
	height: 60px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 25px;
}

.edit-banner div {
	display: flex;
	align-items: center;
	gap: 8px;
}

.edit-banner img {
	height: 16px;
	color: white;
}

.edit-banner p {
	font-size: 16px;
	font-weight: 400;
	color:#FFFFFF;
	font-family: 'Work Sans';
}

.onlyAdminUpdateBtn {
	display: flex;
	margin-left: 40%;
}

.btn-edit p {
	font-size: 14px;
	font-weight: 400;
	color: #000000;
	margin-bottom: 25px;
	margin-left: 10px;
}

.btn-edit img {
	height: 16px;
	margin-bottom: 25px;
	margin-left: 30px;
	gap: 10px;
}

.btn-edit-picture {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
	cursor: pointer;
} 
